{% extends 'main.html' %}
{% block content %}

<div class="home-container">
    <div class="left-section">
        <h1 class="site-title">Welcome to CharlotteConnect, Jessica!</h1>

        <div class="courses">
            <h4>Your Courses</h4>
            {% for group in groups %}
                <div class="course-item">
                    <h5>{{group.id}} -- <a href="{% url 'groups' group.id %}">{{group.name}}</a></h5>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="general-posts-section">
        <h2>General Posts</h2>
        <div class="post">
            <h3>Example Post Title</h3>
            <p>This is an example post. Future posts will be displayed here.</p>
        </div>
    </div>
</div>

{% endblock content %}
